{
  "gnn-params": {
    "link_state_dim": 35,
    "readout_units": 35,
    "T": 5,
    "num_demands": 3
  },
  "list_of_demands": [8, 32, 64],
  "params_file": "geant2_v1",

  "tr_graph_topologies": ["geant2", "nsfnet"],
  "tr_dataset_folder_name": ["dataset_Topologies/", "dataset_Topologies/"],

  "eval_graph_topologies": ["geant2", "nsfnet"],
  "eval_dataset_folder_name": ["dataset_Topologies/", "dataset_Topologies/"],
  "evaluation_episodes": 60,
  "evaluation_period": 1,

  "number_mutations": 640,
  "l2_coeff": 0.005,
  "param_noise_std": 0.05,
  "action_noise_std": 0.05,
  "episode_iterations": 320,

  "optimizer": "AdamOptimizer",
  "lr": 0.005

}